body {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
  color: white;
  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

.site_wrapper {
  min-width: 900px;
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site_wrapper:before,
.site_wrapper:after {
  content: "";

  visibility: hidden;
}

.site_wrapper:before {
  background-image: url("../img/slide_2.png");
}

.site_wrapper:after {
  background-image: url("../img/slide_3.png");
}

.content_wrapper {
  width: 860px;
  margin: 0 auto;
  padding: 0 20px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  color: #323232;
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
}

h3 {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
}

p {
  padding: 0;
  margin: 0;
}

.btn {
  display: inline-block;

  font-weight: bold;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  border: none;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

a {
  text-decoration: none;
  border-bottom: 1px solid #c5d6cd;
  color: white;
}




/*Header*/





.header_main {
  padding-top: 9px;
  margin-bottom: 15px;
}

.header_catalog {
  padding-top: 9px;
}


/*logo*/


.logo_index {
  float: left;
  width: 154px;
  margin-right:16px;
  margin-left: -6px;
}


/*Navigation*/


.catalog_index {
  float: left;
  min-width: 365px;
  font-weight: bold;
}

.ul_catalog {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.ul_catalog a {
  cursor: default;
}

.ul_catalog > li {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  vertical-align: top;
  margin-top: 15px;
  padding-top: 7px;
  z-index: 26;
}

.ul_catalog > li:last-child {
  margin-left: 29px;
}

.catalog_index .sub_catalog {
  margin-right: 13px;
  display: inline-block;
  vertical-align: top;
}

.catalog_index .li_catalog{
  padding: 7px 14px;
  position: relative;
  font-size: 16px;
  line-height: 18px;
  margin-top: 15px;
  padding-top: 7px;
  z-index: 26;
}

.sub_catalog {
  padding-bottom: 20px;
}

.sub_catalog:hover .sub_menu {
  display: block;
}

.li_catalog:hover {
  background-color: #f7f6f3;
  border-radius: 50px;
  cursor: default;
}

.li_catalog:hover > a {
  color: #333333;
  border: none;
}

.li_catalog:active {
  box-shadow: inset 0px 2px 1px 0px #696969;
}

/*Sub_menu*/

.sub_menu {
  position: absolute;
  display: none;
  left: -7px;
  top: 37px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  list-style: none;
  background-color: #f8f7f4;
  border-radius: 4px;
  color: #323232;
  width: 143px;
  box-shadow: 0px 15px 15px 5px rgba(50, 50, 50, 0.3)
  z-index: 35;
}

.sub_menu a {
  border: none;
  color: #323232;
  cursor: pointer;
}
.sub_menu div {
  width: 128px;
  height: 1px;
  margin: 0 auto;
  background-color: #d1d0ce;
}

.sub_menu li {
  padding: 7px 20px;
}

.sub_menu li:first-child {
  padding: 11px 20px;
  padding-bottom: 9px;
  font-weight: bold;
}

.sub_menu .li_a {
  display: block;
  padding: 7px 20px;
}

.sub_menu li:hover {
  background-color: #fbded7;
  cursor: default;
}

.sub_menu li:active {
  background-color: #f6b5a5;
}

.sub_menu li:first-child:hover,
.sub_menu li:first-child:active {
  border-radius: 4px 4px 0 0;
}

.sub_menu li:last-child:hover,
.sub_menu li:last-child:active {
  border-radius: 0 0 4px 4px;
}

.selected_catalog {
  background-color: #d07058;
  border: none;
  border-radius: 30px;
}

.selected_catalog a {
  border: none;
}

.sub_catalog .selected_catalog:hover,
.sub_catalog .selected_catalog:active {
  background-color: #d07058;
  box-shadow: none;
}

.sub_catalog .selected_catalog:hover a,
.sub_catalog .selected_catalog:active a {
  color: white;
}

.selected {
  background-color: #d07058;
}

.li_catalog .selected:hover,
.li_catalog .selected:active {
  background-color: #d07058;
}


/*User_block*/


.user_block {
  float: right;
  min-width: 263px;
  font-size: 0;
  margin-top: 15px;
  margin-bottom: 17px;
}

.user_block a {
  display: inline-block;
  background-color: #aac1b5;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
  font-weight: medium;
  border-radius: 20px;
  border-bottom: none;
  margin-right: 10px;
}

.search {
  width: 17px;
  min-height: 17px;
  padding: 8px;
  padding-bottom: 5px;
}

.login {
  min-width:60px;
  min-height: 19px;
  padding: 5px 16px;
}

.login span {
  vertical-align: 5px;
}

.user_block .shoping_cart {
  min-width: 67px;
  min-height: 20px;
  padding: 5px 16px;
  padding-right: 34px;
  margin-right: 0;
}

.shoping_cart span {
  vertical-align: 5px;
}

.user_block .shoping_cart_filling {
  position: relative;
  min-width: 85px;
  min-height: 16px;
  padding: 8px 16px;
  background-color: #f7f6f3;
  color: #323232;
  margin-right: 0;
}

.shoping_cart_filling .basket_black {
  position: absolute;
  left: 12px;
  top: 7px;
  color: black;
}


/*Work_info*/


.work_info {
  float: right;
  width: 168px;
  font-weight: bold;
  text-align: right;
}

.work_time {
  font-size: 14px;
  line-height: 16px;
}

.work_tel {
  font-size: 22px;
  line-height: 24px;
}





/*Main*/






/*SLider*/


.slider {
  position: relative;
  padding-top: 300px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

.slide {
  display: none;
}

.slide_title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: bold;
  line-height: 60px;
  font-size: 60px;
}

.slide_btn {
  display: inline-block;
  padding: 12px 50px;

  font-weight: bold;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  border-bottom: none;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide_btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide_btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider_controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider_controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider_controls label:hover {
  background-color: #b2c1b7;
}

.slider_controls label:active {
  background-color: #ffffff;
}

#btn_1:checked ~ .site_wrapper #slide1,
#btn_2:checked ~ .site_wrapper #slide2,
#btn_3:checked ~ .site_wrapper #slide3 {
  display: block;
}

#btn_1:checked ~ .site_wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide_1.png");
}

#btn_2:checked ~ .site_wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide_2.png");
}

#btn_3:checked ~ .site_wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide_3.png");
}

#btn_1:checked ~ .site_wrapper label[for="btn_1"],
#btn_2:checked ~ .site_wrapper label[for="btn_2"],
#btn_3:checked ~ .site_wrapper label[for="btn_3"] {
  background-color: #ffffff;
}


/*Breadcrumbs*/



.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-right: 400px;
  float: left;
  width: 220;
  font-size: 0;
}

.breadcrumbs li {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs span {
  padding: 5px;
}

.h1_catalog {
  float:left;
  width: 385px;
  margin-top: 10px;
  margin-bottom:30px;
  margin-right: 650px;
}


/*Promo*/


.promo {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 40px;
}

.promo section {
  padding: 20px;
  padding-bottom: 20px;
}

.promo h2 {
  margin: 0;
  color: white;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.promo p {
  margin: 20px 0;
}

.promo .btn {
  float: right;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 24px;
}

.promo .left {
  float:left;
  width: 380px;
  border-radius: 10px;
  background: #849d8f url("../img/razz_bg.jpg") no-repeat center top;
}

.promo .right {
  float: right;
  width: 380px;
  border-radius: 10px;
  background: #849d8f url("../img/choco_bg.jpg") no-repeat center top;
}


/*Form_catalog*/


.form_catalog {
  margin: 0;
  padding: 0;
  font-size: 0;
  color: white;
  margin-bottom: 30px;
}

.form_catalog div {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

/*Sorting*/

.sorting_catalog {
  margin-bottom: 16px;
}

.sorting_catalog label {
  display: block;
  margin-left: 16px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
}

.sorting_catalog select {
  background-color: #a9bab0;
  color: white;
  padding: 8px 16px;
  border: 0px;
  border-radius: 40px;
  font-size: 16px;
  line-height: 18px;
}

/*Price*/

.price_catalog {
  width: 218px;
}

.price_catalog span {
  display: block;
  margin-left: 16px;
  margin-right: 0;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
  width: 170px;
}

.price_catalog div {
  margin-right: 0;
}

.price_catalog .range {
  position: relative;
  background-color: #a9bab0;
  padding: 16px 15px;
  border-radius: 40px;
  width: 186px;
  height: 4px;
}


/*Range*/


.range .scale {
  background-color: #d1dad3;
  width: 188px;
  height: 4px;
}

.range .range_selected {
  position: absolute;
  top: 16px;
  left: 54px;
  background-color: #f8f7f4;
  width: 78px;
  height: 4px;
}

.range_left {
  position: absolute;
  top: 8px;
  left: 34px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 0;
  background-color: #f8f7f4;
}

.range_right {
  position: absolute;
  top: 8px;
  right: 66px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 0;
  background-color: #f8f7f4;
}

/*Fatness*/

.form_catalog .fatness_catalog {
  margin-right: 0;
  font-size: 14px;
  line-height: 16px;
}

.fatness_catalog label {
  margin-right: 16px;
}

.fatness_catalog > label:first-child {
  display: block;
  margin-left: 16px;
  margin-bottom: 5px;
  margin-right: 0;
}

.fatness_catalog label:last-child {
  margin-right: 0;
}

.fatness_catalog div {
  background-color: #a9bab0;
  padding: 9px 16px;
  border-radius: 40px;
  margin-right: 0;
  font-size: 16px;
  line-height: 18px;
}


/*Fillers*/


.fillers_catalog {
  font-size: 14px;
  line-height: 16px;
  margin-right: 14px;
}

.fillers_catalog > label {
  display: block;
  margin-left: 16px;
  margin-bottom: 5px;
}

.fillers_catalog label:last-child {
  margin-right: 0;
}

.fillers_catalog .fillers_box {
  padding: 8px 16px;
  margin: 0;
  border-radius: 20px;
  background-color: #a9bab0;
  font-size: 16px;
  line-height: 18px;
}

.fillers_box label {
  margin-right: 21px;
}


/*Button*/


.form_catalog button {
  font-size: 16px;
  line-height: 18px;
  background-color: #9cb0a4;
  color: white;
  border-radius: 30px;
  border: 2px solid #f5f7f6;
  padding: 7px 41px;
  margin-top: 20px;
}


/*Hit*/


.hit {
  font-size: 0;
  margin-bottom: 40px;
}

.hit .ice {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-right: 20px;
  font-size: 16px;
  line-height: 22px;
  width: 200px;
  min-height: 200px;
}

.hit b {
  display: block;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-align: left;
  margin-top:80px;
  margin-bottom: 30px;
}

.hit .ice:nth-child(1) {
  background: url("../img/ice_1.png") no-repeat center top;
  background-size: 200px;
}

.hit .ice:nth-child(2) {
  background: url("../img/ice_2.png") no-repeat center top;
  background-size: 200px;
}

.hit .ice:nth-child(3) {
  background: url("../img/ice_3.png") no-repeat center top;
  background-size: 200px;
}

.hit .ice:nth-child(4) {
  background: url("../img/ice_4.png") no-repeat center top;
  background-size: 200px;
  margin-right: 0;
}

.ice img {
  display: block;
  width: 60px;
  height: 60px;
  text-align: left;
}

.ice div {
  padding-left: 8px;
  padding-right: 8px;
}


/*Catalog_content*/


.catalog_content {
  font-size: 0;
}

.catalog_content b {
  display: block;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-align: left;
  margin-top:140px;
  margin-bottom: 30px;
}

.catalog_content .ice {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-right: 20px;
  font-size: 16px;
  line-height: 22px;
  width: 200px;
  min-height: 200px;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center top;
}

.catalog_content .ice:nth-child(4n) {
  margin-right: 0;
}

.catalog_content span {
  border-bottom: 1px solid #c5d6cd;
  color: white;
}

.browsing {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  padding: 13px 14px;
  margin-top: 16px;
}

.catalog_content .ice:nth-child(1) {
  background: #849d8f url("../img/ice_1.png") no-repeat center top;
  background-size: 200px;
}

.catalog_content .ice:nth-child(2) {
  background: #849d8f url("../img/ice_2.png") no-repeat center top;
  background-size: 200px;
}

.catalog_content .ice:nth-child(3) {
  background: #849d8f url("../img/ice_3.png") no-repeat center top;
  background-size: 200px;
}

.catalog_content .ice:nth-child(4) {
  background: #849d8f url("../img/ice_4.png") no-repeat center top;
  background-size: 200px;
}

.catalog_content .ice:nth-child(5) {
  background: #849d8f url("../img/ice_5.png") no-repeat center top;
  background-size: 200px;
}

.catalog_content .ice:nth-child(6) {
  background: #849d8f url("../img/ice_6.png") no-repeat center top;
  background-size: 200px;
}

.catalog_content .ice:nth-child(7) {
  background: #849d8f url("../img/ice_7.png") no-repeat center top;
  background-size: 200px;
}

.catalog_content .ice:nth-child(8) {
  background: #849d8f url("../img/ice_8.png") no-repeat center top;
  background-size: 200px;
}

.catalog_content .ice:nth-child(9) {
  background: #849d8f url("../img/ice_9.png") no-repeat center top;
  background-size: 200px;
}

.catalog_content .ice:nth-child(10) {
  background: #849d8f url("../img/ice_10.png") no-repeat center top;
  background-size: 200px;
}

.catalog_content .ice:nth-child(11) {
  background: #849d8f url("../img/ice_11.png") no-repeat center top;
  background-size: 200px;
}

.catalog_content .ice:nth-child(12) {
  background: #849d8f url("../img/ice_12.png") no-repeat center top;
  background-size: 200px;
}


/*Pages*/

.pages {
  float: right;
  width: 189px;
  margin-bottom: 30px;
}

.pages ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.pages li {
  display: inline-block;
  font-size: 16px;
  font-weight: 18px;
  margin-right: px;
}


/*Info*/
/*Как выравнять посл иконку?*/


.info {
  background: #849d8f url("../img/wafer_bg.jpg");
  border-radius: 15px;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 40px;
  padding: 25px 20px;
}

.info h3 {
  margin-bottom: 8px;
  margin-top: 0;
}

.info_left {
  float: left;
  width: 400px;
}

.info_right {
  float: right;
  width: 400px;
}

.info_div img {
  float: left;
  width: 48px;
}

.info_div p {
  float: right;
  width: 343px;
}


/*News*/


.news_delivery {
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 40px;
}

.left_news {
  float: left;
  width: 420px;
  min-height: 221px;
  background: url("../img/straw_bg.jpg") no-repeat 40% 40%;
  border-radius: 12px;
}

.left_news div {
  padding: 20px 25px;
  padding-right: 105px;
}

.left_news a {
  margin-top: 10px;
  color: #353535;
  text-decoration: underline;
}

.left_news span {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
}

.right_news {
  float: right;
  width: 420px;
  min-height: 221px;
  background: url("../img/mail_bg.jpg") no-repeat center top;
  background-size: 420px 221px;
  border-radius: 12px;
}

.right_news div {
  padding: 40px 25px;
  padding-top: 35px;
  padding-left: 27px;
}

.right_news p {
  font-size: 16px;
  line-height: 22px;
  padding-right: 6px;
  margin-bottom: 15px;
}


/*Map*/

.map {
  background: url("../img/map.jpg") no-repeat center top;
  background-size: 900px 430px;
  width: 900px;
  min-height: 430px;
  margin: 0 auto;
}

address {
  float:right;
  width: 252px;
  margin-right: 20px;
  margin-top: 62px;
  background: white;
  border-radius: 30px;
  color: #323232;
  padding: 30px 25px;
}

address p {
  margin-bottom: 22px;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

address b {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;
}

address .btn {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 30px;
  padding-right: 22px;
  margin-top:25px;
}


/*footer*/


footer {
  padding-top: 20px;
  border-top: 1px solid #a9bbb1;
}


/*Social*/


.social {
  float: left;
  width: 200px;
  margin-right: 20px;
}

.social img {
  margin-right: 12px;
  border: 3px solid #c2cec7;
  border-radius: 20px;
}

.social img:last-child {
  margin-right: 0;
}


/*Footer_info*/


.footer_info {
  float: left;
  width: 420px;
  font-size: 13px;
  line-height: 18px;
}


.footer_info_left {
  float: left;
  width: 135px;
  margin-left: 35px;
}

.footer_info_left img {
  float: left;
  width: 15px;
}

.footer_info_left a:first-child {
  float: right;
  width: 111px;
}

.footer_info_left a:last-child {
  float: left;
  width: 91px;
  margin-left: 15px;
}

.footer_info_right {
  float: right;
  width: 163px;
  margin-right: 57px;
}


/*HTML Academy*/


.html_academy {
  float: right;
  width: 200px;
  font-size: 12px;
  line-height: 18px;
}
